body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #046380;
  font-size: 20px;
  color: #e6e2af;
}

select {
  position: relative;
  color: #e6e2af;
  background-color: #046380;
  font-size: 20px;
  outline-color: none;
  display: block;
  text-align: center;
  padding: 5px;
  width: 100px;
  margin: 100px auto 0;
}

select:focus {
  outline: none;
}

svg {
  position: relative;
  width: 550px;
  display: block;
  margin: 30px auto;
}
